<div id="guardarropas">
  <div class="btn-go-back-guardarropa">
    <a href="/profile"><i class="fa fa-arrow-left fa-3x" aria-hidden="true"></i></a>
  </div>
  <div class="container-guardarropas">
    <h2 class="guardarropas-title">Tus guardarropas</h2>
    <div class="container-new-guardarropa-button">
    <%= link_to "Crear guardarropa", new_guardarropa_path, class:"guardarropa-new-item-btn" %>
    </div>
    <ul class="guardarropas-all">
      <% if @guardarropas.blank?  %>
          <span class="text-no-atuendo">No creaste ningún guardarropas todavía <i class="fa fa-meh-o"></i></span>
      <% else %>
        <% @guardarropas.each do |p| %>
          <li class="guardarropa-unit">
          <%= render 'guardarropa', guardarropa: p %>
          </li>
        <%end%>
      <%end%>
    </ul>
  </div>
  <%= paginate @guardarropas %>
</div>





