<%= render 'header'%>
<div id="sign-up-section">
  <h2 class="sign-up-title">Registrarme</h2>
  <%= render 'form', user: @user %>
  <div class="back-link">
    <%= link_to 'Volver atrás', users_path %>
  </div>
</div>


