* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #4e0d3a;
  font-size: 10px;
}

ul,ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

#reset-section{
  background: white;
  padding-bottom: 30px;
  padding-top: 15px;
  font-family: 'Barlow Semi Condensed', sans-serif;
  margin-top: 0;
  margin-bottom: 0;
  padding-right:13px;
  padding-left:13px;
}

.reset-title{
  color: #4e0d3a;
  text-transform: uppercase;
  margin-bottom: 50px;
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  margin-top: 15px;
  padding-top: 40px;
}

.reset-items{
  width: 100%;
  margin-bottom: 9px;
  padding: 15px;
  box-sizing: border-box;
  outline: none;
  font-family: 'Roboto', sans-serif;
  position: relative;

}

.reset-buttons{
  display: flex;
  flex-direction:row;
  justify-content: space-evenly;
}

.btn-reset{
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #4e0d3a;
  padding: 12px 5px;
  cursor: pointer;
  background-color:rgb(243,199,214) ;
  font-family: 'Montserrat', sans-serif;
  margin-top: 25px;
  width: 50%;
}
