* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #4e0d3a;
  font-size: 10px;
}

ul,ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.reset-form{
  background: white;
}

#reset-section{
  display: flex;
  padding-bottom: 30px;
  padding-right:13px;
  padding-left:13px;
  flex-direction: column;
  align-items: center;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

.reset-title{
  color: #4e0d3a;
  text-transform: uppercase;
  margin-bottom: 50px;
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  margin-top: 0;
  padding-top: 0;
}
.reset-text{
  font-size: 18px;
  color: #4e0d3a;
  text-transform: capitalize;
  font-weight: bold;
}
.reset-items{
  margin-bottom: 9px;
  padding: 15px;
  box-sizing: border-box;
  outline: none;
  font-family: 'Roboto', sans-serif;
  position: relative;
  width: 320px;
}

.reset-buttons{
  display: flex;
  flex-direction:row;
  justify-content: space-evenly;
}

.btn-reset{
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #4e0d3a;
  padding: 12px 5px;
  cursor: pointer;
  background-color:rgb(243,199,214) ;
  font-family: 'Montserrat', sans-serif;
  margin-top: 25px;
  width: 200px;
}

#alert{
  color: #e30425;
  font-weight: bold;
  text-align: center;
  font-size: 1.5em;
  text-transform: uppercase;
}

@media(min-width:650px) {


  .btn-reset{

    width: 20%;
  }

  .reset-form{
    margin: 0px 30%;
  }


}

@media(min-width:1200px) {

  .btn-reset{

    width: 10%;
  }

  .reset-form{
    margin: 0px 40%;
  }
  .reset-items{
    width: 100%;


  }


}


=======
  .reset-text{
    font-size: 22px;
  }
  .reset-items{
    width: 600px;
  }
}

@media(min-width:1200px) {
  .reset-text{
    font-size: 25px;
  }
  .reset-items{
    width: 900px;
  }
  .btn-reset{
    font-size: 20px;
  }
}

