* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #4e0d3a;
  font-size: 10px;
}

ul,ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}



#prendas {
  margin: auto;
  padding-top: 40px;
  padding-bottom: 90px;
  font-family: 'Barlow Semi Condensed', sans-serif;
  background-color: rgb(243,199,214);
  text-transform: uppercase;
}

.prendas-title {
  font-size: 5em;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  color: #4e0d3a;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

.prendas-all {
  margin: 30px 20px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  padding-bottom: 0;
}

.prenda-unit {
  padding: 10px 15px;
  text-align:center;
  margin: 10px;
}

.prenda unit h3 a {
  font-size: 25px;
  text-align: center;
  text-transform: capitalize;
  color: #4e0d3a;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 5%;
}

.new-item-btn{
  display: inline-block;
  color: #FFFF;
  background-color: #4e0d3a;
  padding: 15px 20px ;
  font-size: 15px;
  text-transform: uppercase;
  margin: auto 32%;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}



#create-item {
  background: rgb(243,199,214);
  padding-bottom: 30px;
  padding-top: 15px;
  font-family: 'Barlow Semi Condensed', sans-serif;
  margin-top: 0;
  margin-bottom: 0;
  padding-right:13px;
  padding-left:13px;
}

.create-item-container {
  margin: 15px;
  position: relative;
}

.create-title-contact {
  color: #4e0d3a;
  text-transform: uppercase;
  margin-bottom: 50px;
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  margin-top: 15px;
  padding-top: 40px;
}

.form-items {
  width: 100%;
  margin-bottom: 9px;
  padding: 15px;
  box-sizing: border-box;
  outline: none;
  font-family: 'Roboto', sans-serif;
  position: relative;

}

.form-items-title{
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: #4e0d3a;
  margin-bottom: 9px;
  padding: 15px;

}


.btn-item-image {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #FFFF;
  padding: 10px;
  cursor: pointer;
  background-color: #4e0d3a;
  font-family: 'Montserrat', sans-serif;
  margin: 9px 0;
  font-size: 10px;

}

.create-form-submit-buttons{
  display: flex;
  flex-direction:row;
  justify-content: space-evenly;
}

.btn-item-submit{
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #FFFF;
  padding: 12px 5px;
  cursor: pointer;
  background-color: #4e0d3a;
  font-family: 'Montserrat', sans-serif;
  margin-top: 25px;
  width: 100px;
}

.btn-item-cancel button{
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #FFFF;
  padding: 12px 5px;
  cursor: pointer;
  background-color: #e30425;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  margin-top: 25px;
  width: 100px;
}

.edit-form-submit-buttons{
  display: flex;
  flex-direction:row;
  justify-content: space-evenly;
}

.btn-save-changes{
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #FFFF;
  padding: 12px 5px;
  cursor: pointer;
  background-color: #4e0d3a;
  font-family: 'Montserrat', sans-serif;
  margin-top: 25px;
  width: 156px;
}

.btn-save-changes-cancel button{
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #FFFF;
  padding: 12px 5px;
  cursor: pointer;
  background-color: #e30425;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  margin-top: 25px;
  width: 98px;
}

.prenda-card{
  display: flex;
  flex-direction: column;
  background: rgb(243,199,214);
  font-family: 'Barlow Semi Condensed', sans-serif;
  margin-top: 0;
  margin-bottom: 0;
  padding: 3% 5% 12% 5% ;
  position: relative;
}

.prenda-data h5{
  text-transform: capitalize;
  font-family: 'Roboto', sans-serif;  font-size: 2.2em;
  color: #4e0d3a;
}
.prenda-data h2{
  text-align: center;
  text-transform: uppercase;
  font-size: 3.3em;
  color: #4e0d3a;
}

.prenda-image{
  font-size: 25px;
  color: #4e0d3a;
  margin: 3% auto;
  padding-bottom: 10%;
  order: -1;
}

.conteiner-btn-edit-delete-prenda{
  display: flex;
  justify-content: space-evenly;
}
.btn-edit-prenda button{
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #FFFF;
  padding: 12px 24px;
  cursor: pointer;
  background-color: #4e0d3a;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

.btn-delete-prenda button{
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #FFFF;
  padding: 12px 24px;
  cursor: pointer;
  background-color: #e30425;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;

}

.btn-return button {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  padding: 12px 24px;
  cursor: pointer;
  background-color: #FFFF;
  margin: 22% 23% 0% 30%;
}

.btn-return a{
  color: #4e0d3a;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
}

.btn-delete-prenda a , .btn-edit-prenda a {
  color: #FFFF;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
}

/*como minimo el viewport tiene 650px de ancho*/
@media (min-width:650px) {


  .weather-list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: stretch;
    flex-direction: row;
  }

  .weather-list li {
    width: 50%;
  }

  .prendas-all {
    flex-direction: row;
    margin: 5%;
    text-align: center;
  }

  .prenda-unit {
    padding: 1.5%;
    float: left;
    margin: 0 0 10%;
    width: 48.33%;
  }

  .prenda-unit h3{
    margin-top: 7%;

  }

  .new-item-btn{
   margin:auto 42%;
  }
  #create-item{
    padding-right: 15%;
    padding-left: 15%;
  }

  .btn-item-submit{
    font-size: 18px;
    width: 120px;
  }
  .btn-item-cancel button, .btn-save-changes-cancel button {
    font-size: 18px;
    width: 120px;
  }

  .btn-save-changes{
    font-size: 18px;
    width: 208px;
  }

  .btn-edit-prenda button{
    width: 150px;
    font-size: 18px;
  }
  .btn-delete-prenda button{
    width: 150px;
    font-size: 18px;
  }

  .prenda-image{
    padding-bottom: 10%;
  }
  .btn-delete-prenda{

    font-size: 25px;
  }

  .btn-return button{
   margin: 15% 37% 0% 40%;
  }

  .btn-return a{
    font-size:18px;
  }
}

@media(min-width:1200px) {

  .container-prendas {
    margin: 2% 5%;
    justify-content:space-around;
    display:flex;
    flex-flow:row wrap;
  }

  .prendas-title{
    font-size: 6em;
  }

  .new-item-btn{
    font-size: 2.4em;
  }

  .close, .toggle-nav {
    display: none;
  }
  .weather-list li {
    width: 33.33%;
  }

  .prendas-all {
    margin-top: 5%;
    margin:0;
    padding-top: 5%;
    font-size: 40px;
    justify-content: space-around;
  }

  .prenda-unit {
    width: 30%;
  }

  .prenda-unit img{
    max-width: 860px;
    max-height: 1270px;
  }
  .prenda-unit h3 a{
    color:#4e0d3a;
  }

  .new-item-btn {
    margin: auto 46%;
  }

  #create-item {
    padding-right: 25%;
    padding-left: 25%;
  }

  .create-title-contact{
    font-size: 3.5em;
  }
  .create-form-submit-buttons{
    margin-top: 25px;
    margin-bottom: 35px;
  }
  .btn-item-submit, .btn-item-cancel button {
    font-size: 20px;
    width: 130px;
  }
  .edit-form-submit-buttons{
    margin-top: 50px;
    margin-bottom: 55px;
  }
  .btn-save-changes-cancel button{
    font-size: 20px;
    width: 250px;
    padding: 25px 20px;
  }
  .btn-save-changes{
    font-size: 20px;
    width: auto;
    padding: 25px 20px;
  }

  .prenda-card{
    display: flex;
    justify-content: space-between;
    flex-direction:row;
    flex-wrap: wrap;
  }
  .prenda-data{
    display: inline-block;
    padding-left: 5%;
    text-transform: uppercase;
    margin-bottom: 50px;
    margin-top: 60px;
    margin-right: 200px;
    margin-left: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    float: right;

  }

  .prenda-data h2{
    text-align: start;
    font-size: 4em;
  }
  .prenda-data h5{
    font-size: 26px;
    line-height: 2em;
    font-size: 2.5em;
  }

  .prenda-image{
    order: -1;
    width: 40%;
    margin-right: 3%;
    margin-left: 3%;
    margin-top: 3%;
    margin-bottom: 0px;

  }

  .conteiner-btn-edit-delete-prenda{
    flex-direction: row;
    flex-wrap: wrap;
  }

  .btn-edit-prenda button {
    margin-right: 25px;
    font-size: 20px;
    width: auto;

  }

  .btn-delete-prenda button{
    font-size: 20px;
    width: auto;
  }

  .btn-return button {
    margin: 0;

  }



}

