* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #4e0d3a;
  font-size: 10px;
}

ul,ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}


.app-buttons{
  display: inline-block;
  margin: 5% 20%;
}

.btn-app{
  font-size: 18px;
  text-align:center;
  color: #4e0d3a;
  padding: 15px 20px;
  cursor: pointer;
  background-color:rgb(243,199,214) ;
  font-family: 'Montserrat', sans-serif;
  width: 200px;
}

#app-buttons-container{
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
}

.app-show-btn{
  text-justify: auto;
  display: inline-block;
  color: #FFFF;
  background-color: #4e0d3a;
  padding: 20px 15px ;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  height: 77px;
  width: 160px;
  margin-top: 30px;
  margin-left: 27%;
}

#app-text-show{
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    margin-top: 3%;
}

#login-section{
  background: white;
  padding-bottom: 30px;
  padding-top: 15px;
  font-family: 'Barlow Semi Condensed', sans-serif;
  margin-top: 0;
  margin-bottom: 0;
  padding-right:13px;
  padding-left:13px;
}

.login-title-contact{
  color: #4e0d3a;
  text-transform: uppercase;
  margin-bottom: 50px;
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  margin-top: 15px;
  padding-top: 40px;
}

.login-items{
  width: 100%;
  margin-bottom: 9px;
  padding: 15px;
  box-sizing: border-box;
  outline: none;
  font-family: 'Roboto', sans-serif;
  position: relative;

}

.login-buttons{
  display: flex;
  flex-direction:row;
  justify-content: space-evenly;
}

.btn-login{
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #4e0d3a;
  padding: 12px 5px;
  cursor: pointer;
  background-color:rgb(243,199,214) ;
  font-family: 'Montserrat', sans-serif;
  margin-top: 25px;
  width: 50%;
}

.sign-up-question{
  padding: 15px;
  text-align: center;
  font-size: 14px;
  //border: 1px solid #999999;
  margin-top: 25px;
}

.sign-up-question a{
  color:#720d5d;
  font-weight: bold;
}

.forgot-password a{
  font-weight: 400;
  color:#720d5d;
  font-size: 14px;
}
.forgot-password{
  text-align:right;
}

#alert{
  color: #e30425;
  font-weight: bold;
  text-align: center;
  font-size: 1.5em;
  text-transform: uppercase;
}


.prendas-all-from-guardarropa-unit{
  list-style: none;
  border-bottom: solid 2px #f3c7d6;
  margin-top: 50px;

}


@media (min-width:650px) {
#login-section{
  padding-top: 8%;
  padding-right: 15%;
  padding-left: 15%;
  height: auto;
}
  .btn-login{
    width: 40%;
  }
  
  .btn-app{
    padding: 15px 20px;
    width: 200px;
    height: 80px;
  }
  #app-buttons-container{
    justify-content: center;
    margin-bottom: 2%;
  }

  .app-show-btn{
    margin-left: 34%;
  }

  #app-text-show{
    justify-content: center;
  }

  #prenda-show{
    width: 70%;

  }
}

@media(min-width:1200px) {

  #login-section{
    padding-top: 3%;
    //padding-right: 35%;
    //padding-left: 35%;

  }

  .login-title-contact{

    font-size: 5em;
    padding-top: 5%;
  }

  .btn-login{
    font-size: 1.7em ;
    width: 40%;
  }

  .sign-up-question{
    font-size: 18px;
    border: 1px solid #999999;

  }
  .forgot-password a{
    font-size: 16px;
  }

  .login-buttons{
    padding-bottom: 10%;

  }

  #prendas-show{
    width: auto;
    //margin: 30px 20px;

  }

    
  .app-buttons{
    margin:3%;
  }

  .app-show-btn{
    margin-left: 44.4%;
  }

  .prendas-all-from-guardarropa-unit{
    border-bottom: none;
    height: auto;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    padding-bottom: 0;
  }


}