* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #4e0d3a;
  font-size: 10px;
}

ul,ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

#sign-up-section{
  background: #f3c7d6;
  padding-bottom: 30px;
  padding-top: 15px;
  font-family: 'Barlow Semi Condensed', sans-serif;
  margin-top: 0;
  margin-bottom: 0;
  padding-right:13px;
  padding-left:13px;
}

.sign-up-items{
  width: 100%;
  margin-bottom: 9px;
  padding: 15px;
  box-sizing: border-box;
  outline: none;
  font-family: 'Roboto', sans-serif;
  position: relative;
}

.sign-up-buttons{
  display: flex;
  flex-direction:row;
  justify-content: space-evenly;
}

.btn-sign-up{
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: rgb(243,199,214);
  padding: 12px 5px;
  cursor: pointer;
  background-color:#4e0d3a;
  font-family: 'Montserrat', sans-serif;
  margin-top: 25px;
  width: 50%;
}

.sign-up-title{
  color: #4e0d3a;
  text-transform: uppercase;
  margin-bottom: 50px;
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  margin-top: 15px;
  padding-top: 10px;
}


//PROFILE

#prendas-show{
  display: none;
}
#atuendos-show{
  display: none;
}


// PAGINACION
.pagination a, .pagination span.current, .pagination span.gap {
  float: left;
  padding: 0 14px;
  line-height: 38px;
  text-decoration: none;
  border: 1px solid #4e0d3a;
  background-color: #f3c7d6;
  border-radius: 25px;
  //font-weight: 600;
  justify-content: center;
  align-items: center;
  color: #4e0d3a;
  font-size: 1.3em;
  text-align: center;
  text-transform: uppercase;
  margin: 2px;
}

.pagination span.current{
  background-color: #4e0d3a;
  color: #f3c7d6;

}

 .pagination a:hover{
  background-color: #DADADA;
  color: #4e0d3a;
}



//USERS

.users-div{
  background-color: white;
  font-family: 'Barlow Semi Condensed', sans-serif;
  height: 100vh;

}
.users-div h2{
  font-weight: 600;
  justify-content: center;
  align-items: center;
  color: #4e0d3a;
  font-size: 4em;
  text-align:center;
  text-transform: uppercase;
}
.table-titles{
  text-transform: uppercase;
  font-weight: 800;
}

tbody tr:nth-child(odd) {
  background-color: white;
}

tbody tr:nth-child(even) {
  background-color: #f3c7d6;
}

tbody tr {
  background-color: #4e0d3a;
}

table {
  color: #4e0d3a;
  width: 100%;
  font-size: 1.5em;
  text-align: center;
}

.pagination-div{
  display: flex;
  justify-content: center;
  padding-top: 30px;
  font-size: 1.7em;

}

.pagination span a{
padding-right: 17px;
}

#error_explanation{
  color: #e30425;
  font-weight: bold;
  text-align: center;
  font-size: 1.5em;
  text-transform: uppercase;
}
.btn-go-back-signup a{
  color: #4e0d3a;
}



@media (min-width:650px) {
  #sign-up-section{
    padding-top: 8%;
    padding-right: 15%;
    padding-left: 15%;
    height: 57vh;
  }
  .btn-sign-up{
    width: 40%;
  }

  table {
    font-size: 2.5em;
  }
}

@media(min-width:1200px) {

  #sign-up-section{
    padding-top: 3%;
    padding-right: 35%;
    padding-left: 35%;
    height: auto;
  }

  .sign-up-title{

    font-size: 5em;
    padding-top: 5%;
  }


  .btn-sign-up{
    font-size: 1.7em ;
    width: 40%;
  }


  .sign-up-buttons{
    padding-bottom: 10%;

  }

  table {
    font-size: 3.5em;
  }


}
